<style>
  .schedule-block {
    width: 100%;
    border: 5px outset black;
  }
  .day-of-week {
    display: inline-block;
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
  }
  .current-day{
    text-align: right;
  }
</style>
<h1 style="text-align: center"><b>Schedule</b></h1>
<div class="day-of-week">
  <div>S M T W T F S</div>
</div>
<!--<div class=".current-day"> don't know how to implement this-- >

<div class="schedule-block">
  <div class="course-name">{{c.course_name}}</div>
</div>
<div class="schedule-block">
  <div class="course-name">{{c.course_name}}</div>
</div>
<div class="schedule-block">
  <div class="course-name">{{c.course_name}}</div>
</div>
