<div id="view-tasks">
    <h1>This is the View Tasks page</h1>
    {% if task %}
    {% if pinned %}
    <h3>Pinned Tasks</h3>
    <table>
        <thead>
            <th>Title</th>
            <th>Category</th>
            <th>Due Date</th>
            <th>View Task Details</th>
        </thead>
        {% for p in pinned %}
        <tr>
            <td>{{p.title}}</td>
            <td>{{p.category.name}}</td>
            <td>{{p.due_date}}</td>
            <td><a href="{% url 'task details' p.task_id %}">View Details</a></td>
        </tr>
        {% endfor %}
    </table>
    <h3>All Other Tasks</h3>
    {% endif %}
    <table>
        <thead>
            <th>Title</th>
            <th>Category</th>
            <th>Due Date</th>
            <th>View Task Details</th>
        </thead>
        {% for t in task %}
        <tr>
            <td>{{t.title}}</td>
            <td>{{t.category.name}}</td>
            <td>{{t.due_date}}</td>
            <td><a href="{% url 'task details' t.task_id %}">View Details</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No task records found.</p>
    {% endif %}
    <button><a href="{% url 'new task' %}">Create New Task</a></button>
</div>